.heading{
    font-size: 23px;
    width: 80%;
    margin:0px;
    background-color: aqua;
    box-shadow:blue;
}

.NOTE{
    font-size: 18px;
    color: black;
}

body{
    background-size: cover;
}
